*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Comic Sans MS"
}

:root{
    --text: bisque;
}
body{
    text-align: center;
    background-color: gray;
    color:var(--text);
}

.head {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

ul{
    text-align: left;
    margin-left: 150px;
}

a{
    text-decoration: none;
    color:var(--text);

}

.hidden{
    display: none;
}


/*quiz*/

#answer-container {
    display: flex;
    flex-flow: wrap column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
    min-height: 500px;
    min-width: 500px;
}

.btn {
    width: 500px;
    height: 100px;
    background-color: darkcyan;
}

.options {
    padding: 10px;
    order: 3;
 }
  